<ul class="navbar-nav flex-grow-1">
    <li>@Html.ActionLink("Aloitus sivu", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Meistä", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Yhteistiedot", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Rekisteröidy", "Register", "Account", new { area = "" }, new { @class = "nav-link" })</li>

    @if (Session["UserRole"] != null && Session["UserRole"].ToString() == "User")
    {
        <li><a class="nav-link">Tervetuloa @Session["UserName"] !</a></li>
        <li>@Html.ActionLink("Kirjaudu ulos", "Logout", "Account", new { area = "" }, new { @class = "nav-link" })</li>
    }
    else if (Session["UserRole"] != null && Session["UserRole"].ToString() == "Supplier")
    {
        <li><a class="nav-link">Tervetuloa @Session["SupplierName"]</a></li>
        <li>@Html.ActionLink("Kirjaudu ulos", "Logout", "Account", new { area = "" }, new { @class = "nav-link" })</li>
    }
    else
    {
        <li>@Html.ActionLink("Kirjaudu sisään", "Login", "Account", new { area = "" }, new { @class = "nav-link" })</li>
    }

</ul>
