@model RateApp.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unohtunut salasana?</h2>
<p>Anna sähköpostiosoite.</p>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="validation-summary-errors">
        @Html.ValidationSummary()
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <p></p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-dark">Lähetä</button>
        </div>
    </div>
}

