@model RateApp.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kirjaudu sisään tai rekisteröidy</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="validation-summary-errors">
        @Html.ValidationSummary()
    </div>

    <div class="form-group">
        @Html.Label("Sähköposti", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Salasana", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.PasswordHash, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PasswordHash)
        </div>
    </div>

    <p>

    </p>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-dark">Kirjaudu</button> <b></b>
            <a href="@Url.Action("Register", "Account")" class="btn btn-dark" style="margin-left: 10px;">Rekisteröidy</a>
        </div>
    </div>

    <p>
        <a href="@Url.Action("ForgotPassword", "Account")">Forgot your password?</a>
    </p>



}


