@model RateApp.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Token)

    <div class="validation-summary-errors">
        @Html.ValidationSummary()
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PasswordHash, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.PasswordHash, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PasswordHash)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-dark">Reset Password</button>
        </div>
    </div>
}

