@model IEnumerable<RateApp.Models.UserRatings>

@{
    ViewBag.Title = "User Ratings";
}

<h2>Minun arvostelut</h2>
<p>
    @Html.ActionLink("Aloitus sivulle", "Index")
</p>

<table class="table">
    <thead>
        <tr>
            <th>Käyttäjä</th>
            <th>Arvostelu</th>
            <th>Viesti</th>
            <th>Arvostelija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rating in Model)
        {
            <tr>
                <td>@rating.Users.UserName</td>
                <td>@rating.RatingValue</td>
                <td>@rating.Comment</td>
                <td>@rating.Suppliers.SupplierName</td>
                <td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a href="@Url.Action("DownloadIndexAsPdf", "UserRatings")" class="btn btn-outline-dark">
        Lataa kaikki arvostelut PDF muodossa
    </a>
</p>


