@model IEnumerable<RateApp.Models.UserRatings>

@{
    ViewBag.Title = "User Ratings";
}

<h2>User Ratings</h2>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Rating</th>
            <th>Comment</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rating in Model)
        {
            <tr>
                <td>@rating.Users.UserName</td>
                <td>@rating.RatingValue</td>
                <td>@rating.Comment</td>
                <td>

                    @Html.ActionLink("Details", "Details", new { id = rating.RatingId })

                </td>
            </tr>
        }
    </tbody>
</table>
